.header {
    display: flex;
    align-content: space-between;
    background: #FFFFFF;
    width: 1440px;
    height: 80px;
    position: relative;
}

.blog-name h6 {
    position: relative;
    width: 147px;
    height: 56px;
    left: 22px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
}

.sign-up-btn {
    box-sizing: border-box;
    width: 109px;
    height: 51px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    background-color: white;
    margin-left: 19px;
    color: #52C41A;
}

.active {
    box-sizing: border-box;
    width: 109px;
    height: 51px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    background-color: white;
    color: #52C41A;
    display: block;
    text-align: center;
    line-height: 46px;
    margin-left: 19px;
}

.logout {
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.btn {
    box-sizing: border-box;
    width: 109px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    display: block;
    text-align: center;
    line-height: 46px;
    margin-left: 19px;
}

.button-block {
    display: flex;
    position: absolute;
    top: 16px;
    right: 22px;
}

.user-info {
    display: flex;
    box-sizing: border-box;
    height: 51px;
}

.user-name {
    margin-left: 27px;
    line-height: 46px;
}

.user-icon {
    margin-left: 13px;
    line-height: 46px;
}

.create-article {
    color:  #52C41A;
    font-size: 14px;
    line-height: 12px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    width: 112px;
    padding: 10px 6px;
    height: 31px;
    margin-top: 10px;
}