@import '~antd/dist/antd.css';

html, body {
    font-family: "Inter", sans-serif;
}

button {
    border: none;
    background: none;
}

.ant-pagination:not(:last-child) {
    margin-bottom: 24px;
}
