@import '~antd/dist/antd.css';

html, body {
    font-family: "Inter", sans-serif;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    box-sizing: border-box;
}

.ant-pagination:not(:last-child) {
    margin-bottom: 24px;
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
    opacity:  1;
}


/* Иконка во всплывающем окне наползает на тайтл, причина не была найдена */
div.ant-popover-message span  {
    left: -12px;
}